<!DOCTYPE html>
{% extends "DealerApp/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="first">
 <marquee id="scrol"> <i class="glyphicon glyphicon-star"></i> Important Links For Rta Rules <i class="glyphicon glyphicon-star"></i></marquee>

 <marquee> <i class="glyphicon glyphicon-ok"></i>  <a href="http://aptransport.org/html/acts-rules/main-chap-4.htm">Registration of Motor Vehicles</a></marquee>
 <marquee> <i class="glyphicon glyphicon-ok"></i> <a href="http://aptransport.org/html/acts-rules/main-chap-8.htm">Control of Traffic</a></marquee>
 <marquee><i class="glyphicon glyphicon-ok"></i>  <a href="http://aptransport.org/html/acts-rules/main-chap-2.htm">Licensing of Drivers of Motor Vehicles</a></marquee>
</div>


<!-- javascript animation  -->
<h1 class="ml1">
  <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letters">What Is Your Next Vehicle</span>
    <span class="line line2"></span>
  </span>
</h1>
<!--javascript effected title ended here  -->


<div class="rows">

  <div class="col-md-4 col-xs-12">
    <h1>Karizma ZMR</h1>
    <img  class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9Ua4m2PRtc52y9dwxPFN4oHUg7ljQ23otgWsDRz89umFAO3g5_Q" alt="">

  </div>

  <div class="col-md-4 col-xs-12">
    <h1>Activa 4G</h1>
    <img class="img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZrSW0rbL-WWRxs5cAG9KPsbwal8yUErJron2h_US_KWQL8D0tvQ" alt="">

  </div>


  <div class="col-md-4 col-xs-12">
    <h1>Aciva 5G</h1>
    <img  class="img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkDfgRVOZlAlI1pTGwYtpUG_vkWcCWVmm_VF2K3NsZI8L77nB8Kg" alt="">

  </div>

<!-- second line  -->
<div class="col-md-4 col-xs-12">
  <h1>Bajaj Discover</h1>
  <img  class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8dIjxey5dRMtv3Bl3lRdTzGKhefbZm4g_m7cE0jVzdOmmJmf9KQ" alt="">

</div>

<div class="col-md-4 col-xs-12">
  <h1>Bajaj CT-100</h1>
  <img class="img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY6tYQW-sjDPi3sDCElT6BxwQoJmDUP45_ykZC1zx01iyZjOUy8w" alt="">

</div>


<div class="col-md-4 col-xs-12">
  <h1>Hero PassionPRO</h1>
  <img  class="img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN3MNY4aQ9w1wYCkUxrqOk4G01UwsFfFsY6ojEGg3ZOeCyAlt5" alt="">

</div>

<!-- Third line -->
<div class="col-md-4 col-xs-12">
  <h1>Suzuki Access</h1>
  <img  class="img" src="https://bd.gaadicdn.com/processedimages/suzuki/suzuki-access/source/v_access-125-cc.jpg" alt="">

</div>

<div class="col-md-4 col-xs-12">
  <h1>Honda Shine</h1>
  <img class="img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkeS0xL1VASttKZxepZho_ZICL7n47iI5HCP55QUFEy-q0XQRx" alt="">

</div>


<div class="col-md-4 col-xs-12">
  <h1>Honda Unicorn</h1>
  <img  class="img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6HUZoHfSbBQGpvlmf82_bQDk9YX0WJvRk6MwGFVZDQ6ZOdk1Tuw" alt="">

</div>

<!--fourth line  -->
<div class="col-md-4 col-xs-12">
  <h1>TVS Scooty pep</h1>
  <img  class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBQzW7TTmzPp1NU_H0VfvomAakDQhdVBOUoRK_lh9jYaJ7tN2j" alt="">

</div>

<div class="col-md-4 col-xs-12">
  <h1>TVS Jupiter</h1>
  <img class="img"  src="static/images/jupiter.jpg" alt="">

</div>


<div class="col-md-4 col-xs-12">
  <h1>Honda Aviator</h1>
  <img  class="img"  src="static/images/avaitor.jpg" alt="">

</div>


<!-- fifth line -->
<div class="col-md-4 col-xs-12">
  <h1>Hero Xtreme</h1>
  <img  class="img" src="static/images/xtreme.jpg" alt="">

</div>

<div class="col-md-4 col-xs-12">
  <h1>Bajaj Pulsar</h1>
  <img class="img"  src="static/images/pulsar.jpg" alt="">

</div>


<div class="col-md-4 col-xs-12">
  <h1>TVS Apache</h1>
  <img  class="img"  src="static/images/apache.jpg" alt="">

</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

{% endblock %}
