<!DOCTYPE html>
{% extends 'DealerApp/base.html'%}

{% block content %}
<body class="serv">

<div class="serv1">

  <div class="col-md-4 col-xs-12">

<h1 id="hd">Sales of 2 Wheelers!</h1>
    <p>We Sell/Purchase MultiBranded Two Wheeler Vehicles </p>
    <h4>Two Wheelers</h4>
    <ul>
      <li>Hero-Bikes</li>
      <li>Bajaj-Bkies</li>
      <li>Tvs-Bikes</li>
      <li>Honda-Bikes</li>
    </ul>
    <h4>Budget Related Bikes</h4>
    <ul>
      <li>Hero-Splender</li>
      <li>Hero-Passion</li>
      <li>Hero-CD Delux</li>
    <br>
    <li>Bajaj-CT100</li>
    <li>Bajaj-Platina</li>
    <li>Bajaj-Discover</li>
    <br>
    <li>Tvs-StarCity</li>
    <li>Tvs-Jupiter</li>
    <li>Tvs-Pep+</li>

    </ul>

  </div>

<!--second  -->
<div  class="col-md-4 col-xs-12">


<h1 id="hd">Sales of 4 Wheelers!</h1>
    <p>We Sell/Purchase MultiBranded 4 Wheeler Vehicles </p>
    <h4>Four Wheelers</h4>
    <ul>
      <li>Maruti </li>
      <li>Suzuki</li>
      <li>Hyundai</li>
      <li>Honda Cars</li>
    </ul>
    <h4>Budget & Premium Cars</h4>
    <h5>We Directly Sell/Purchase Four Wheeler And Will Make Deal Between Seller & Buyer Also</h5>

    <ul>
      <li>Maruti-Maruti800</li>
      <li>Tata-Indica</li>
      <li>Honda-city</li>
    <br>
    <li>Hyundai-Accent</li>
    <li>Hyundai-i10</li>
    <li>Hyundai-i20</li>
    <br>
    <li>Tata-safari</li>
    <li>Mahindra-scorpio</li>
    <li>Suzuki-Swift & Dzire</li>

    </ul>

</div>
<!-- third part  -->
<div class="col-md-4 col-xs-12">


<h1 id="hd">RTA Documentation</h1>
    <p>We Done All RTA Documentation Work With In Target Time </p>
    <h4>Places Of RTA We do</h4>
    <ul>
      <li><h4>Hyderabad</h4> </li>
      <li>Uppal </li>
      <li>Tirumalgiri</li>
      <li>Khairtabad</li>
      <li>Bandlaguda</li>
      <li>Mehdipatnam</li>
      <li>Kukatpally</li>
      <li>Medchal</li>
    </ul>
    <h4> Works We Undertake</h4>

    <ul>
      <li>CC Work</li>
      <li>Registration Of Vehicles</li>
      <li>Removal of HP</li>
      <br>
      <li>CC To A.P Vehicles</li>
      <li>Transfer Of Ownership</li>
      <li>Renewal Of RC</li>
      <li>Licence Work</li>

    </ul>

</div>












</body>



{% endblock %}
